@{
    Layout = "";
}
@model ConfigurationModel
@using Grand.Web.Framework;
@using Grand.Core.Infrastructure;
@using Grand.Plugin.Shipping.VoidShipping.Models

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <text>Grand.Plugin.Shipping.VoidShupping.Views.Configure.cshtml</text>
    <br />
    <br />
    <br />
    <br />
    <table>
        <tr>
            <td class="adminTitle">
                @Html.GrandLabelFor(model => model.Country, null, false):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Country)
                @Html.ValidationMessageFor(model => model.Country)
            </td>
        </tr>



    </table>
}
